<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Cadastrar</title>
</head>
<body>
    <div class="tela-central">
    <h1>Crie uma conta</h1>
    <input type="text" placeholder="E-mail">
    <br> <br>
    <input type="password" name="" id="" placeholder="Senha">
    <br> <br>
    <input type="password" name="" id="" placeholder=" Confirmação de senha">
    <br> <br>
    <div class="center">
    <button>Criar</button>
    </div>

    <br> 
    </div>
</body>
</html>