<!DOCTYPE html>
<html lang="en">
<head>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicial.css">
    <title>To-do inicial</title>
</head>
<body>

    <header>
    <h1>Bem-vindo, getUser!</h1>
<ion-icon name="log-out-outline" class="deslogar"></ion-icon>
</header>

    <section class="lista-flex">
        <div>
            <p>Lista 1</p>
        </div>
        
        <div>
            <p>Lista 2</p>
        </div>
        <div>
            <p>Lista 3</p>
        </div>
        <div>
            <p>Lista 4</p>
        </div>
        <div>
            <p>Lista 5</p>
        </div>
        <div>
            <p>Lista 6</p>
        </div>
        
        
            </section>
        
<footer>

    <div class="left-content">
    <ion-icon name="settings-outline" class="config-icon"> </ion-icon>
    <P>Configurações</P>
    </div>  
    
    <div class="middle-content">
    <input type="text" id="busca" placeholder="Pesquisar por lista ou tarefas">
    <button><ion-icon name="search-outline" class="search-icon"></ion-icon></button>
    </div>


    <div class="right-content">
    <ion-icon name="add-outline" class="add-icon"></ion-icon>
    <p>Nova lista</p>
    </div>
</footer>
   
</body>
</html>